option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '200'
    HealthCheckInterval: '150'
    HealthCheckPath: /static/strings.xml
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    MatcherHTTPCode: null
    Port: '80'
    Protocol: HTTP
    StickinessEnabled: 'false'
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:147431859022:certificate/cb290fb1-e24a-4e3f-8cba-ad63337b26cd
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS
    DeregistrationDelay: '200'
    HealthCheckInterval: '150'
    HealthCheckPath: /static/strings.xml
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    MatcherHTTPCode: null
    StickinessEnabled: 'false'